.picture img{
width: 60%;
height: 100%;
border-radius: 15px;
  box-shadow: -5px 5px #ff5e6c,-10px 10px #ff5e6c,-15px 15px #ff5e6c,-20px 20px #ff5e6c,-25px 25px #ff5e6c;
  object-fit: cover;
}

.about-me{

  box-shadow: 0 10px 12px rgba(99,99,99,.2);
}

.about-me-container {
    padding: 12rem 8rem 8rem 8rem;
    display: flex;
    flex-direction: row;
}

.history h1{
    color: #ff5e6c;
    text-decoration: underline;
    text-decoration-thickness:3px ;
    margin-bottom: 2rem;
}

.history{
    width: 100%;
}

.history p{
    text-align: justify;
}
