.picture img{
width: 60%;
height: 100%;
border-radius: 15px;
  box-shadow: -5px 5px #523e50,-10px 10px #523e50,-15px 15px #523e50,-20px 20px #523e50,-25px 25px #523e50;
  object-fit: cover;
}

.about-me{
  box-shadow: 0 10px 12px rgba(99, 99, 99, 0.325);
  opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.6s ease-out, transform 1s ease-out;
  
}

.about-me-container {
    padding: 12rem 8rem 8rem 8rem;
    display: flex;
    flex-direction: row;
}

.history h1{
    color: #523e50;
    text-decoration: underline;
    text-decoration-thickness:3px ;
    margin-bottom: 2rem;
}

.history{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    border-top:1px solid #523e50 ;
    
}

.history p{
    text-align: justify;
    color: black;
}

  .about-me.visible {
    opacity: 1;
    transform: translateY(0);
}

  

