.contact-margin{
    margin: 0 6rem 6rem ;
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

#contact-section{
    background-color: white;
    color: black;
   
}

.contact-info h1{
    font-size: 4rem;
    margin-bottom: 4rem;
}

.contact-info p{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.contact-info img{
    width: 5%;
    height: 5%;
}

.contact-phone{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.contact-mail{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.contact-place{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.contact-form form{ 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form p strong{
    color: #523e50;
    font-weight: bold;
}

.contact-form p{
    margin-bottom: 4rem;
    font-size: 1.2rem;
}
.contact-form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-form{
    width: 60%;
}

.contact-form input{
    width: 45%;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 5px;
    font-size: 1rem;
}

.contact-form textarea{
    background-color: white;
    min-height: 75px;
    color: black;
    outline: none;
}

.contact-form input:focus{
    outline: none;

}

.contact-form button{
    background-color: #75f8f3;
    border: none;
    border-radius: 45px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    color:#523e50;
    cursor: pointer;
    width: 30%;
    min-height: 45px;
}

.contact-form button:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}