.projets-margin{
    padding: 6rem 6rem 1.5rem;
   background-color: white;
}

.projets-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: black;
    padding-bottom: 2rem;
}

.all-projets{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 900px;
}

.projets-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    border: 1px solid #b7b7b7;
    border-radius: 15px; 
    box-shadow: 10px 10px 60px -4px #c2cdff;
    height: 360px;
    width: 90%;
    margin: 1rem 2rem;
    overflow: hidden;
    text-align: center;
    padding-bottom: 1.5rem; 
    gap: 1rem;
    background-color: black;
}

.projets-image {
    width: 100%;
    height: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

#kasa{
    height: 297.2px;
}
.projets-image img {
    width: 100%;
    height: 100%;
    
}

.projets-card button {
   height: 2.3rem;
   width: 100%; 
   margin-top: auto; 
   background-color: black; 
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 150px;
   border: 2px solid white;
   transition: .2s ease-in-out 0s;
}

.button-projets{
    color: white;
}

.projets-card button:hover {
   background-color: white; 
   color: black;
   transform: scale(1.1);
}

.button-more{
    width: 30%;
    padding: 5px;
    
  
}

.button-projets{
    height: 20%;
}

