.resume-margin{
    padding: 0 6rem 3rem 6rem;
    background-color: white;
}

.resume-container{
   display: flex;
   flex-direction: row;
   gap: 20rem;
   align-items: center;
   justify-content: space-around;
   box-shadow: 1rem #f39f68;
   margin: 10%;
   border-radius: 15px; 
   box-shadow: 10px 10px 60px -4px #c2cdff;
}

.resume-title{
    color: #523e50;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
