html, body, #root {
  height: 100vh;  
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  width: 100%;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 50%, #ffffff 100%);
}

.portfolio {
  flex: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

